html,
body,
#viewDiv {
  margin: 0;
  padding: 0;
  height: 100%;
}

#viewDiv {
  filter: drop-shadow(16px 16px 10px rgba(0,0,0, 0.5));
}

header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  font-size: 2em;
  font-family: 'Permanent Marker', cursive;
}
